
html {
    font-size: 16px;
    background: rgb(235, 233, 233);
}

 
h1 {
    font-size: 5rem;
    font-weight:100;
    color: #3b2681;  
    margin:0;
}

h2 {
    
    font-size:2rem;
    margin-top:0;
    font-weight:100
    
}


nav {
      float:left;
      width: 13rem;
      background-color:#d50c0ce4;
      position:left;
      border: solid black 0.425rem;
}

nav img {
    width:100%;
}

nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

nav ul a {
    display: ruby-base-container;
    font-size: 1.5rem;
    padding:.75rem 1.25rem;
    text-decoration: none;
    color: rgb(235, 233, 233);
}

main {
    text-align: left;
}

section {
    margin-bottom:.5%;
}

aside {
    display:flex;
}


.fig-1 {
    
    width:49%;
    margin-left:0;
    margin-right:1%;
}

.fig-2 {
    
    width:49%;
    margin-right:0;
    margin-left:1%;
}

figure img {
  width: 50%;
  margin: 30px;;  
}

figcaption {
    font-size:.95rem;
    color:#ff0000;
}

figcaption a {
    background-color: rgb(235, 233, 233);
    font-size:.75rem;
    color:#415a83;
}







