html{
    font-size: 16px;
    background-color: rgb(197, 192, 192);
    
}

img{
    width: 49% ;
    margin:0 auto;
    border: rgba(1, 12, 27, 0.632) solid;
}

p{
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

h1{
    font-size: 3rem;
    
}
