/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */


html{
    font-size: 16px;
    color: black;
    font-family: roboto, sans-serif;
}

nav{
    place-self: top;
    word-spacing: 24/16rem;
    border-top: #333;
    display: inline-block;
    border: .0125rem solid;
    font-size: 1.5rem;
    
}

@font-face {
    font-family:ultra, sans-serif;
    src: url(/Blog/fonts/serif/ultra-regular.ttf), format(TrueType);
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family:roboto, sans-serif ;
    src: url(/Blog/fonts/sans-serif/roboto-regular.ttf);
}

p{
    word-spacing: normal;
    font-size: 1rem;
}

h1{
    font-size: 72/16rem;
    font-family: Ultra-regular sans-serif;
    text-decoration:wavy;
}

body{
    padding: 0;
    margin: 0 auto;
    font-size: 1rem;
    max-width: 104rem;
    min-width: 64rem;
}

body{
    padding: 0;

}

main{
    margin: 0 auto;
    padding-bottom: .25rem;
    width: 90%;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/*SECTION*/

img{
    width: 100%;
    display: block;
    max-width: 25rem;

}

.main-section{
    display: flex;
}

article{
    width: 75%;

}

.article-image{
    float: right;
    margin: 0, 1rem, 0 0;
}

.article-image + p{
    margin-top: 0;
}

.subsection{
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem,1fr));
    grid-column-gap: 1%;
}

.subsection figure{
    padding: 0;
    margin: 0;
    background-color: #eed;
}

.subsection figcaption{
    font-size: .75rem;
    padding: .75rem;

}

.subsection img{
    padding-bottom: 1%;
    min-width: 5rem;
    width: 75%;
}

/*SIDE BAR*/
aside{
    width: 20%;
    clear: both;
    margin-left: 3%;
    padding-left: 3%;
    border-left: .0625rem  solid #333;
    position: right;
}

aside + p{
    font-size: .75rem;
    padding-bottom: 2rem;
    border-bottom: .0625rem solid #333;
}



/*FOOTER*/

footer{
    margin: 6rem auto .5rem auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr,1fr;
    grid-column-gap: 1%;

}

footer :nth-child(2) {
    text-align:right ;
}

footer a{
    color: #6f7d6f;
}